.App {
  text-align: center;
}

.App-logo {
  border-radius: 50%;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  width: 80px;
}
.Lord-logo {
  animation: App-logo-grow infinite 1s ease-out;
  border-radius: 5px;
  width: 256px;
  height: 173px;
}
.App-header {
  background-color: #222;
  min-height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.Card {
  width: 400px;
  margin: 2rem;
}
.Item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Edit-div {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.login-screen { /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.login-box {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-grow {
  0% { transform: scale(0.9)}
  2% { transform: scale(1), translate()}
  80% { transform: scale(0.95)}
  100% { transform: scale(0.9)}
}
